{% from "_c_fragments/_format.j2" import format_c_type %}

{%- macro render_struct(s) -%}
typedef struct {
{% for f in s.fields %}
  {{ format_c_type(f.base, f.pointer, f.const) }} {{ f.name }};
{% endfor %}
}{{ "*" if s.pointer_alias else "" }} {{ s.template_alias }};
{%- endmacro %}
